.android-large13-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.android-large13-android-large13 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(245, 237, 255, 1);
}
.android-large13-httpsapplottiefilescomanimation03307914cfe04742abd {
  top: 214px;
  left: 4px;
  width: 356px;
  height: 361px;
  position: absolute;
}
.android-large13-votask2 {
  top: 577px;
  left: 38px;
  width: 284px;
  height: 48px;
  position: absolute;
}
.android-large13-votask21 {
  top: 564px;
  left: 57px;
  width: 245px;
  height: 41px;
  position: absolute;
}
