.android-large9-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.android-large9-android-large9 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(245, 237, 255, 1);
}
.android-large9-frame2 {
  top: 55px;
  left: 62px;
  width: 45px;
  height: 20px;
  position: absolute;
}
.android-large9-text {
  top: 59px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-group11 {
  top: 120px;
  left: 14.999893188476562px;
  width: 330.8165283203125px;
  height: 34px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(112, 0, 255, 1);
}
.android-large9-text02 {
  top: 6px;
  left: 11.33639144897461px;
  color: rgba(255, 255, 255, 1);
  width: 308px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-group12 {
  top: 163px;
  left: 29px;
  width: 303px;
  height: 325px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.android-large9-rectangle28 {
  top: 0px;
  left: 162px;
  width: 141px;
  height: 131px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.android-large9-rectangle30 {
  top: 168px;
  left: 162px;
  width: 141px;
  height: 131px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-rectangle29 {
  top: 168px;
  left: 0px;
  width: 141px;
  height: 131px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.android-large9-rectangle27 {
  top: 0px;
  left: 0px;
  width: 141px;
  height: 131px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.android-large9-text04 {
  top: 137px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-text06 {
  top: 137px;
  left: 208px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-text08 {
  top: 304px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-text10 {
  top: 304px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-text12 {
  top: 510px;
  left: 27px;
  color: rgba(112, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-rectangle31 {
  top: 536px;
  left: 27px;
  width: 305px;
  height: 30px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-text14 {
  top: 536px;
  left: 36px;
  color: rgba(12, 12, 12, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-rectangle32 {
  top: 579px;
  left: 27px;
  width: 305px;
  height: 30px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-text16 {
  top: 579px;
  left: 36px;
  color: rgba(12, 12, 12, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-rectangle33 {
  top: 622px;
  left: 27px;
  width: 305px;
  height: 30px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-text18 {
  top: 622px;
  left: 36px;
  color: rgba(12, 12, 12, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-rectangle34 {
  top: 665px;
  left: 27px;
  width: 305px;
  height: 30px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-text20 {
  top: 665px;
  left: 36px;
  color: rgba(12, 12, 12, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large9-rectangle43 {
  top: 540px;
  left: 302px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-rectangle44 {
  top: 583px;
  left: 302px;
  width: 22px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
}
.android-large9-rectangle441 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.android-large9-rectangle45 {
  top: 626px;
  left: 302px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-rectangle46 {
  top: 669px;
  left: 302px;
  width: 22px;
  height: 22px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}
.android-large9-group3 {
  top: 730px;
  left: 75px;
  width: 211px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 1);
}
.android-large9-text22 {
  top: 5px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
