.android-large5-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.android-large5-android-large5 {
  width: 100%;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(245, 237, 255, 1);
}
.android-large5-text {
  top: 491px;
  left: 44px;
  color: rgba(112, 0, 255, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large5-frame3 {
  gap: 10px;
  top: 739px;
  left: 149px;
  width: 61px;
  display: flex;
  padding: 10px;
  position: absolute;
  align-items: flex-start;
}
.android-large5-text02 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large5-text04 {
  top: 541px;
  left: 67px;
  color: rgba(0, 0, 0, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.android-large5-img2023060420340807311 {
  top: 137px;
  left: 72px;
  width: 216px;
  height: 218px;
  position: absolute;
}
